<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<style type="text/css">
p{font-size: 20pt;
   font-family:
   "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
   color:#999}
</style>
  <link href="static/jquery.ui.core.min.css" rel="stylesheet" type="text/css">
  <link href="static/jquery.ui.theme.min.css" rel="stylesheet" type="text/css">
  <link href="static/jquery.ui.tabs.min.css" rel="stylesheet" type="text/css">
  <link href="static/jquery.ui.button.min.css" rel="stylesheet" type="text/css">
  <link href="static/jquery.ui.datepicker.min.css" rel="stylesheet" type="text/css">
  <link href="static/jquery.ui.autocomplete.min.css" rel="stylesheet" type="text/css">
  <link href="static/jquery.ui.menu.min.css" rel="stylesheet" type="text/css">
  <link href="static/jquery.ui.accordion.min.css" rel="stylesheet" type="text/css">
  <link href="static/jquery.ui.slider.min.css" rel="stylesheet" type="text/css">
  <link href="static/jquery.ui.progressbar.min.css" rel="stylesheet" type="text/css">
<script src="static/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="static/jquery-ui-1.9.2.tabs.custom.min.js" type="text/javascript"></script>
<script src="static/jquery-ui-1.9.2.button.custom.min.js" type="text/javascript"></script>
<script src="static/jquery-ui-1.9.2.datepicker.custom.min.js" type="text/javascript"></script>
<script src="static/jquery-ui-1.9.2.autocomplete.custom.min.js" type="text/javascript"></script>
<script src="static/jquery-ui-1.9.2.accordion.custom.min.js" type="text/javascript"></script>
<script src="static/jquery-ui-1.9.2.slider.custom.min.js" type="text/javascript"></script>
<script src="static/jquery-ui-1.9.2.progressbar.custom.min.js" type="text/javascript"></script>
<body>
<h1>NBA Database</h1>
  <div>
  We've got everything you want.
  <br>
  You are just two steps away from what you are looking for!
  <br></br>
  </div>




<div>
<hr>
<p>Search Results: </p>
<br>
<div>
	{%for n in data%}
    <div>{{n}}</div>
    {%endfor%}
    ahahahahaha
</div>
<br>
<hr>

<button id="Button1" onclick="window.location.href='/index.html'">Return</button>



</div>


  <div>
  <hr>
  <p><font size=2>Copyright &copy; 2016 Siyan Yue & Yiqing Cui, Columbia University. All rights reserved.</font></p>
  </div>


<script type="text/javascript">
$(function() {
	$( "#Tabs1" ).tabs();
});
</script>











<!--hahahaha
<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>


<p><a href="another.html">Go to the other page</a></p>
  <div>{{data}}</div>

<div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  -->

<script type="text/javascript">
$(function() {
	$( "#Button1" ).button();
});
$(function() {
	$( "#Button5" ).button();
});
$(function() {
	$( "#Button2" ).button();
});
$(function() {
	$( "#Button3" ).button();
});
$(function() {
	$( "#Button4" ).button();
});
$(function() {
	$( "#Checkboxes1" ).buttonset();
});
$(function() {
	$( "#Datepicker1" ).datepicker();
});
$(function() {
	$( "#Checkboxes2" ).buttonset();
});
$(function() {
	$( "#Checkboxes3" ).buttonset();
});
$(function() {
	$( "#Datepicker2" ).datepicker();
});
$(function() {
	$( "#Buttonset1" ).buttonset();
});
$(function() {
	$( "#Autocomplete1" ).autocomplete();
});
$(function() {
	$( "#RadioButtons1" ).buttonset();
});
$(function() {
	$( "#Accordion1" ).accordion();
});
$(function() {
	$( "#Slider1" ).slider();
});
$(function() {
	$( "#Progressbar1" ).progressbar();
});
$(function() {
	$( "#Button1" ).button();
});
</script>
</body>


</html>
</title>
</head>

<body>
</body>
</html>
